.post-container {
  font-size: 12px;
  width: 100%;
  max-width: 10000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;


  /*
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
  grid-template-rows: 1fr, 1fr;
  grid-gap: 10px;
*/
}

.post {
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px 1px rgb(48, 52, 60);
  min-height: 100px;
  background-color: rgb(55, 90, 150);
  border-radius: 1%;
}

/* desktop/laptop */
@media screen and (min-width: 1200px) {
  .post {
    max-width: 300px;
    min-width: 300px;

  }
}

@media screen and (max-width: 1199px) {
  .post {
    max-width: 300px;
    min-width: 300px;
    background-color: darkcyan;
  }
}

/* tablet portrait */
@media screen and (max-width: 768px) {
  .post {
    max-width: 300px;
    min-width: 300px;
    background-color: rgb(151, 0, 0);
  }
}
/* mobile portrait */
@media screen and (max-width: 320px) {
  .post {
    min-width: 200px;
    max-width: 200px;
    background-color: gold;
  }
}



.post::after {
    content: "";
    flex: auto;
  }
 
p.post {
  text-align: center;
}

  img {
      width: 100%;
      max-width: 500px;
      height: auto;

    }

    @media (min-width: 800px) {
      #glow-img {
        float: left;
        padding: 0 20px 0 0;
      }
    }
      @media (max-width: 800px) {
        #glow-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }




body {
  font-family: monospace;
  color: rgb(211, 211, 211);
  padding: 10px;
  background-image: linear-gradient(45deg,
    rgb(48, 52, 60),
    rgb(48, 52, 60),
    rgb(55, 90, 150)
    );
    background-size: 400%;
    animation: bg-ani 90s infinite alternate;
    width: 33em;
    margin: auto;
  }

  a:link {
    color: hotpink;
  }

  a:visited {
    color: pink;
  }
  
  @keyframes bg-ani{
    0% {
      background-position: left;
    }
  100% {
    background-position: right;
    }
  }


h1, h2, h3, h4{text-align: center;}

#subtitle {
  /* text-align: center; */
  margin-bottom: 20px;
}

#heading {
  font-size: xx-large;
  margin-bottom: 5px;
  

}

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */